/* TODO: Change page English to Japanese  */
.link-page {
  font-size: 14px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-12px);
  transition: transform 0.25s;
}
.link-page:before,
.link-page:after {
  position: absolute;
  content: "Japanese CV";
  height: 30px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #7a7b7d;
  box-sizing: border-box;
  border-radius: 5px;
}

.link-page:before {
  color: #fff;
  background: #7a7b7d;
  transform: rotateY(1deg) translateZ(12px);
}

.link-page:after {
  color: #000;
  transform: rotateX(90deg) translateZ(12px);
}

.link-page:hover {
  transform: translateZ(-12px) rotateX(-90deg);
}

/* TODO: Change page  Japanese to English */

.link-page1:before,
.link-page1:after {
  content: "英語";
}

/* TODO: Direct to old page  */

.old-page:before,
.old-page:after {
  height: 30px;
  width: 120px;
  content: "Profile 2021 ";
}

/* TODO: Email Bottom  */
#emailBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 60px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(50 73 214);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
