/* TODO: Avatar effect  */
.avatar_zoom:hover {
  transform: scale(1.2);
}

.msg_hover {
  font-size: 18px;
  font-family: "Lucida Console";
  display: none;
  margin-left: 17em;
  color: black;
}

.avatar_cv {
  transition: transform 1s !important;
}

.zoom_img :hover {
  transition: transform 1s;
  border-radius: 20px;
  background-image: none;
  transform: scale(1.2);
}

.img_style {
  margin: 3em;
  border-radius: 20px;
  display: block;
  width: 87%;
  height: 64%;
}

/* TODO: projectVideo effect  */
.thevideo {
  background-image: url("https://i.ibb.co/th5ybQB/BLOG-PROJECT.png");
  border-radius: 20px;
  transition: transform 1s;
  width: 110%;
  background-size: cover;
  height: 105%;
}

.changePage {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 30px;
  margin-top: 5px;
}

.codegym {
  border: 2px solid #ff992b;
  border-radius: 62%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
}
.uyen {
  border: 2px solid #ff992b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 52%;
}
