/*TODO: ----------- iPad??? ----------- */
@media only screen and (max-width: 600px) {
  #ava_msg {
    margin-left: 8em;
  }
  #emailBtn {
    font-size: 12px !important;
  }
  #github {
    margin-left: 0em !important;
  }
}

/*TODO: ----------- iPhone 11 or 10----------- */
@media only screen and (max-width: 429px) {
  .site-title {
    background-color: rgb(221 237 255);
  }
  .px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 0.1rem 1rem;
    padding-bottom: 2em;
  }
  /* Blue border */
  .timeline-card {
    margin-left: 12px !important;
  }
  .timeline-card:before {
    left: -21px !important;
  }
  .timeline-card:after {
    width: 16px !important;
    left: -16px !important;
  }
  #mitani_img {
    width: 180px;
  }
  .img_style {
    margin: auto !important;
    width: 104% !important;
    height: 113% !important;
  }
  .moreInfo {
    margin-top: 2em !important;
    font-size: 11px !important;
  }
  .vaccineTitle {
    margin-left: 0em !important;
    font-size: 14px !important;
  }
}

/*TODO: ----------- ??? ----------- */
@media (min-width: 48em) {
  .site-title {
    float: left;
  }
  .site-nav {
    float: right;
  }
  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}
/*TODO: Large desktop */
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1220px;
  }
}

/*TODO: ----------- Print ----------- */
@media print {
  body {
    background-color: #fff;
  }
  .container {
    margin: auto 60 em !important;
    width: auto;
    max-width: 100%;
    padding: 0;
  }
  .cover,
  .cover-bg {
    border-radius: 0;
  }
  .cover.shadow-lg {
    box-shadow: none !important;
  }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important;
  }
  .avatar {
    margin-top: -10px;
  }
  .about-section {
    padding: 6.5rem 5rem 2rem !important;
  }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important;
  }
  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
}
